@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --background: #121212;
  --text: #ffffff;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
